# This are the requirements for the notebooks
# Especially useful when running the notebooks with mybinder.org
pandas
matplotlib
pygal
py2neo
# experimental libraries for importing and visualizing software data
git+git://github.com/feststelltaste/ozapfdis.git
git+git://github.com/feststelltaste/ausi.git
